.carrosel {
    max-height: 500px;
    border-radius: 8px;
    overflow: hidden;
}

.carrosel .carousel-item {
    height: 500px;
    position: relative;
}

.carrosel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.card-img-top {
    width: 100%;
    height: 200px; 
    object-fit: cover;
}
.card {
    width: 18rem;
    margin-bottom: 20px;
}

.card .card-text {
    height: 100px;
}
